.flex-wrapper {
    display: flex;
    margin: 5% 2.5%;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#transform  {
object-fit: contain;
  -webkit-animation: swoopin 1500ms;
  -moz-animation:    swoopin 1500ms; 
  -o-animation:      swoopin 1500ms; 
  animation:         swoopin 1500ms;
}

.about  {
  -webkit-animation: swoopin 1250ms;
  -moz-animation:    swoopin 1250ms; 
  -o-animation:      swoopin 1250ms; 
  animation:         swoopin 1250ms;
  margin-left: 5%;
}

article {
    margin-bottom: 2%;
}


@keyframes swoopin {
  from {
    transform: translateX(-100vw);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes swoopleft {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
    width: 20vw;
    text-align: center;
}

.card-header, .card-body, .btn {
    background-color: rgb(51, 51, 51) !important;
    color: white !important;
}

.accordion {
    margin-left: 3%;
    -webkit-animation: swoopin 1000ms;
  -moz-animation:    swoopin 1000ms; 
  -o-animation:      swoopin 1000ms; 
  animation:         swoopin 1000ms;
}