body, html {
    margin: 0;
    height: 100%;
}

/* body {
    background-image: linear-gradient(to bottom right, #222429, rgb(63, 63, 63));
} */

#root {
  background-image: linear-gradient(to bottom right, #222429, rgb(63, 63, 63));
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.nav-tabs .nav-link {
    color: white;
    padding: 3% 0%;
}