* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body, html {
    height: -webkit-fill-available;
    margin: 0;
  }
  
#root {
    background-image: linear-gradient(to bottom right, #222429, rgb(43, 42, 42));
    height: none;
}

@-moz-document url-prefix() { 
  #root {
     height: 100vh !important;
  }
}



.nav-tabs .nav-link {
    color: white;
    padding: 2.9% 0%;
}

@media only screen and (max-width: 414px) {
  .nav {
    display: none !important;
  }

  .header-wrapper {
    height: 100vh;
  }
}